html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: url('../images/bg-pattern.png');
}

h1 {
  margin: 0;
  text-align: center;

  font-size: 70px;
  font-weight: 900;
  color: rgb(21, 116, 87);
}

h2 {
  margin: 0;

  font-size: 50px;
  font-weight: 900;
}

ul {
  margin: 0;
}

.input-container {
  margin-top: 50px;
}

.input-search {
  display: block;
  margin-top: 15px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 500px;
  height: auto;
  color: rgb(21, 116, 87);
  border: 3px solid #08362c;
  outline: none;
}

.wrapper {
  margin-top: 17px;
  padding: 30px 50px;
  color: rgb(21, 116, 87);
  text-align: center;
}

.countryTen {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  list-style: none;
  color: rgb(21, 116, 87);
}

.country {
  margin-top: 17px;
}

.about-country-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  text-align: justify;
}

.about-country {
  margin-right: 30px;
}
